*.deb
*.debian.tar.gz
*.dsc
*.build
*.changes
*.ppa.upload
*.swp
gdal/.pc/
gdal/debian/files
gdal/debian/ogr2ogr2-static-bin.debhelper.log
gdal/debian/ogr2ogr2-static-bin.substvars
gdal/debian/ogr2ogr2-static-bin/
gdal/debian/tmp/
